Web References/unigisData/wsGetGuias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getGuias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGuiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGuiasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGuiaCargada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pGuia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateGuiaCargadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateGuiaCargadaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNuevasParadas">
        <s:complexType />
      </s:element>
      <s:element name="getNuevasParadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNuevasParadasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateParadaId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viajeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paradaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateParadaIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateParadaIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getGuiasSoapIn">
    <wsdl:part name="parameters" element="tns:getGuias" />
  </wsdl:message>
  <wsdl:message name="getGuiasSoapOut">
    <wsdl:part name="parameters" element="tns:getGuiasResponse" />
  </wsdl:message>
  <wsdl:message name="updateGuiaCargadaSoapIn">
    <wsdl:part name="parameters" element="tns:updateGuiaCargada" />
  </wsdl:message>
  <wsdl:message name="updateGuiaCargadaSoapOut">
    <wsdl:part name="parameters" element="tns:updateGuiaCargadaResponse" />
  </wsdl:message>
  <wsdl:message name="getNuevasParadasSoapIn">
    <wsdl:part name="parameters" element="tns:getNuevasParadas" />
  </wsdl:message>
  <wsdl:message name="getNuevasParadasSoapOut">
    <wsdl:part name="parameters" element="tns:getNuevasParadasResponse" />
  </wsdl:message>
  <wsdl:message name="updateParadaIdSoapIn">
    <wsdl:part name="parameters" element="tns:updateParadaId" />
  </wsdl:message>
  <wsdl:message name="updateParadaIdSoapOut">
    <wsdl:part name="parameters" element="tns:updateParadaIdResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGetGuiasSoap">
    <wsdl:operation name="getGuias">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Guias Modelo EAD Unigis</wsdl:documentation>
      <wsdl:input message="tns:getGuiasSoapIn" />
      <wsdl:output message="tns:getGuiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateGuiaCargada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar guia cargada</wsdl:documentation>
      <wsdl:input message="tns:updateGuiaCargadaSoapIn" />
      <wsdl:output message="tns:updateGuiaCargadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNuevasParadas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Nuevas Paradas de Viaje para enviar a UNIGIS (recolecciones/entregas asignadas a una ruta publicada)</wsdl:documentation>
      <wsdl:input message="tns:getNuevasParadasSoapIn" />
      <wsdl:output message="tns:getNuevasParadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateParadaId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar nueva Parada</wsdl:documentation>
      <wsdl:input message="tns:updateParadaIdSoapIn" />
      <wsdl:output message="tns:updateParadaIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGetGuiasSoap" type="tns:wsGetGuiasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGuias">
      <soap:operation soapAction="http://tempuri.org/getGuias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGuiaCargada">
      <soap:operation soapAction="http://tempuri.org/updateGuiaCargada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNuevasParadas">
      <soap:operation soapAction="http://tempuri.org/getNuevasParadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateParadaId">
      <soap:operation soapAction="http://tempuri.org/updateParadaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGetGuiasSoap12" type="tns:wsGetGuiasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGuias">
      <soap12:operation soapAction="http://tempuri.org/getGuias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGuiaCargada">
      <soap12:operation soapAction="http://tempuri.org/updateGuiaCargada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNuevasParadas">
      <soap12:operation soapAction="http://tempuri.org/getNuevasParadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateParadaId">
      <soap12:operation soapAction="http://tempuri.org/updateParadaId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGetGuias">
    <wsdl:port name="wsGetGuiasSoap" binding="tns:wsGetGuiasSoap">
      <soap:address location="http://10.10.121.31/www/app/wsUnigisData/wsGetGuias.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGetGuiasSoap12" binding="tns:wsGetGuiasSoap12">
      <soap12:address location="http://10.10.121.31/www/app/wsUnigisData/wsGetGuias.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>