Web References/unigisEstadosGuia/wsGetEstatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getEstadosGuia">
        <s:complexType />
      </s:element>
      <s:element name="getEstadosGuiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEstadosGuiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getEstadosGuiaSoapIn">
    <wsdl:part name="parameters" element="tns:getEstadosGuia" />
  </wsdl:message>
  <wsdl:message name="getEstadosGuiaSoapOut">
    <wsdl:part name="parameters" element="tns:getEstadosGuiaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGetEstatusSoap">
    <wsdl:operation name="getEstadosGuia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Estatus de guías de la última carga Unigis</wsdl:documentation>
      <wsdl:input message="tns:getEstadosGuiaSoapIn" />
      <wsdl:output message="tns:getEstadosGuiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGetEstatusSoap" type="tns:wsGetEstatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEstadosGuia">
      <soap:operation soapAction="http://tempuri.org/getEstadosGuia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGetEstatusSoap12" type="tns:wsGetEstatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEstadosGuia">
      <soap12:operation soapAction="http://tempuri.org/getEstadosGuia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGetEstatus">
    <wsdl:port name="wsGetEstatusSoap" binding="tns:wsGetEstatusSoap">
      <soap:address location="http://10.10.121.31/www/app/wsUnigisData/wsGetEstatus.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGetEstatusSoap12" binding="tns:wsGetEstatusSoap12">
      <soap12:address location="http://10.10.121.31/www/app/wsUnigisData/wsGetEstatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>